<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application android:allowBackup="true" android:icon="@drawable/tf_icon" android:label="TF Analyzer" android:theme="@style/AppTheme" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="unspecified">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <service android:name=".RemoteProgressService" android:exported="false" android:foregroundServiceType="dataSync" />
    </application>
</manifest>
